[submodule "0x18-dynamic_libraries/0x18-dynamic_libraries/alx-low_level_programming-1"]
	path = 0x18-dynamic_libraries/0x18-dynamic_libraries/alx-low_level_programming-1
	url = https://github.com/LinAdisa-SE/alx-low_level_programming-1.git
